<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/Grammar"></ion-back-button>
    <ion-title *ngIf="getData">{{getData.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
          <iframe
          [src]="videoUrl(getData.link)"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" ></iframe>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-title>Question</ion-title>
        <ion-img [src]="getData.questionImage" (click)="multiService.imageView(getData.questionImage, 'Question')"></ion-img>
      </ion-col>
      <ion-col>
        <ion-title>Answer</ion-title>
        <ion-img [src]="getData.answerImage" (click)="multiService.imageView(getData.answerImage, 'Answer')"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7535648491950970"
          crossorigin="anonymous"></script>
  <!-- One -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-7535648491950970"
       data-ad-slot="7102308169"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</ion-content>
