<ion-tabs>

  <ion-tab-bar slot="bottom">
<!--    <ion-tab-button tab="Meaning">-->
<!--      <ion-icon name="reader-outline"></ion-icon>-->
<!--      <ion-label>Meaning</ion-label>-->
<!--    </ion-tab-button>-->

    <ion-tab-button tab="Grammar">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Grammar</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="Vocabulary">-->
<!--      <ion-icon name="layers-outline"></ion-icon>-->
<!--      <ion-label>Vocabulary</ion-label>-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
